<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="codesquard.app.issue.mapper.IssueMapper">

    <resultMap id="issuesResponse" type="codesquard.app.issue.mapper.response.IssuesResponse">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="status" column="status"/>
        <result property="statusModifiedAt" column="status_modified_at"/>
        <result property="createdAt" column="created_at"/>
        <result property="modifiedAt" column="modified_at"/>
        <result property="commentCount" column="comment_count"/>
        <association property="milestone" javaType="codesquard.app.issue.mapper.response.IssueMilestoneResponse">
            <result property="id" column="milestone_id"/>
            <result property="name" column="milestone_name"/>
        </association>
        <association property="author" javaType="codesquard.app.issue.mapper.response.IssueAuthorResponse">
            <result property="id" column="user_id"/>
            <result property="name" column="login_id"/>
        </association>
        <collection property="assignees" column="id" javaType="List"
                    ofType="codesquard.app.issue.mapper.response.IssueAssigneeResponse"
                    select="getAssignees"/>
        <collection property="labels" column="id" javaType="List"
                    ofType="codesquard.app.issue.mapper.response.IssueLabelResponse"
                    select="getLabels"/>
    </resultMap>

    <select id="getIssues" parameterType="codesquard.app.issue.mapper.request.IssueFilterRequest"
            resultMap="issuesResponse">
        SELECT
        issue.`id`, issue.`title`, issue.`status`, issue.`status_modified_at`, issue.`created_at`, issue.`modified_at`,
        issue.`milestone_id`, milestone.`name` AS milestone_name, issue.`user_id`, u.`login_id`,
        IFNULL(comment.`comment_count`, 0) AS comment_count
        FROM issue AS issue
        LEFT OUTER JOIN (SELECT `issue_id`, COUNT(`id`) AS comment_count FROM comment GROUP BY `issue_id`) AS comment
        ON comment.`issue_id` = issue.id
        LEFT OUTER JOIN `user` AS u
        ON u.`id` = issue.`user_id`
        LEFT OUTER JOIN `milestone` AS milestone
        ON milestone.`id` = issue.`milestone_id`
        <where>
            issue.`is_deleted` = 0
            <choose>
                <when test="is == null and milestone == null and author == null and assignee == null and label == null and mentions == null">
                    AND issue.`status` = "OPENED"
                </when>
                <otherwise>
                    <if test="is != null">
                        AND issue.`status` = #{is}
                    </if>
                    <if test="milestone != null">
                        <choose>
                            <when test="milestone == 'none'">
                                AND issue.`milestone_id` IS NULL
                            </when>
                            <otherwise>
                                AND milestone.`name` = #{milestone}
                            </otherwise>
                        </choose>
                    </if>
                    <if test="author != null">
                        AND u.`login_id` = #{author}
                    </if>
                    <if test="assignee != null">
                        <choose>
                            <when test="assignee == 'none'">
                                AND issue.`id` NOT IN (
                                SELECT DISTINCT(assignee.`issue_id`)
                                FROM issue_assignee AS assignee
                                LEFT OUTER JOIN user AS u
                                ON assignee.`user_id` = u.`id`)
                            </when>
                            <otherwise>
                                AND issue.`id` IN (
                                SELECT DISTINCT(assignee.`issue_id`)
                                FROM issue_assignee AS assignee
                                LEFT OUTER JOIN user AS u
                                ON assignee.`user_id` = u.`id`
                                WHERE u.`login_id` = #{assignee})
                            </otherwise>
                        </choose>
                    </if>
                    <if test="label != null">
                        <choose>
                            <when test="label.get(0) == 'none'">
                                AND issue.`id` NOT IN (
                                SELECT DISTINCT(issue_label.`issue_id`)
                                FROM issue_label AS issue_label
                                LEFT OUTER JOIN label AS label
                                ON issue_label.`label_id` = label.`id`)
                            </when>
                            <otherwise>
                                AND issue.`id` IN (
                                SELECT issue_label.`issue_id`
                                FROM issue_label AS issue_label
                                LEFT OUTER JOIN label AS label
                                ON issue_label.`label_id` = label.`id`
                                WHERE label.`name` IN
                                <foreach item="name" index="index" collection="label" open="(" separator="," close=")">
                                    #{name}
                                </foreach>
                                GROUP BY issue_label.`issue_id`
                                HAVING COUNT(issue_label.`issue_id`) >= ${label.size})
                            </otherwise>
                        </choose>
                    </if>
                    <if test="mentions != null">
                        AND issue.`id` IN (
                        SELECT DISTINCT(comment.`issue_id`)
                        FROM comment AS comment
                        LEFT OUTER JOIN user AS u
                        ON u.`id` = comment.`user_id`
                        WHERE u.`login_id` = #{mentions})
                    </if>
                </otherwise>
            </choose>
        </where>
        ORDER BY issue.`created_at` DESC
    </select>

    <resultMap id="issueAssigneeResponse" type="codesquard.app.issue.mapper.response.IssueAssigneeResponse">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="avatarUrl" column="avatar_url"/>
    </resultMap>

    <select id="getAssignees" parameterType="java.lang.Long" resultMap="issueAssigneeResponse">
        SELECT assignee.`user_id` AS id, u.`login_id` AS name, u.`avatar_url`
        FROM issue_assignee AS assignee
                 LEFT OUTER JOIN user AS u
                                 ON assignee.`user_id` = u.`id`
        WHERE assignee.`issue_id` = #{id}
    </select>

    <resultMap id="issueLabelsResponse" type="codesquard.app.issue.mapper.response.IssueLabelResponse">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="color" column="color"/>
        <result property="background" column="background"/>
    </resultMap>

    <select id="getLabels" parameterType="java.lang.Long"
            resultMap="issueLabelsResponse">
        SELECT label.`id` AS id, label.`name` AS name, label.`color`, label.`background`
        FROM issue_label AS issue_label
                 LEFT OUTER JOIN label AS label
                                 ON issue_label.`label_id` = label.`id`
        WHERE issue_label.`issue_id` = #{id}
    </select>

    <select id="getMultiFiltersAssignees" parameterType="java.util.Map"
            resultType="codesquard.app.issue.mapper.response.filters.response.MultiFilterAssignee">
        SELECT id, login_id AS name, avatar_url AS avatarUrl
        <if test="check = true and request.assignee != null and request.assignee != 'none'">
            , (SELECT IF(login_id = #{request.assignee}, true, false)) AS `selected`
        </if>
        <if test="check = false or request.assignee == 'none'">
            , (SELECT false) AS `selected`
        </if>
        FROM `user`
    </select>

    <select id="getMultiFiltersAuthors" parameterType="java.util.Map"
            resultType="codesquard.app.issue.mapper.response.filters.response.MultiFilterAuthor">
        SELECT id, login_id AS name, avatar_url AS avatarUrl
        <if test="check = true and request.author != null">
            , (SELECT IF(login_id = #{request.author}, true, false)) AS `selected`
        </if>
        <if test="check = false">
            , (SELECT false) AS `selected`
        </if>
        FROM `user`
    </select>

    <select id="getMultiFiltersLabels" parameterType="java.util.Map"
            resultType="codesquard.app.issue.mapper.response.filters.response.MultiFilterLabel">
        SELECT id, name, color, background
        <if test="check = true and request.label != null and request.label.get(0) != 'none'">
            , (SELECT IF(name IN
            <foreach item="name" index="index" collection="request.label" open="(" separator="," close=")">
                #{name}
            </foreach>
            , true, false)) AS `selected`
        </if>
        <if test="check = false and request.label.get(0) == 'none'">
            , (SELECT false) AS `selected`
        </if>
        FROM label
    </select>

    <select id="getMultiFiltersMilestones" parameterType="java.util.Map"
            resultType="codesquard.app.issue.mapper.response.filters.response.MultiFilterMilestone">
        SELECT id, name
        <if test="check = true and request.milestone != null and request.milestone != 'none'">
            , (SELECT IF(name = #{request.milestone}, true, false)) AS `selected`
        </if>
        <if test="check = false and request.milestone == 'none'">
            , (SELECT false) AS `selected`
        </if>
        FROM milestone
    </select>

    <select id="countIssueSameAuthor" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(id) FROM issue WHERE user_id = #{user_id} AND is_deleted = false AND id IN
        <foreach item="item" collection="id" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="isNotExist" parameterType="java.util.List" resultType="boolean">
        SELECT false IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
            (SELECT EXISTS (SELECT 1 FROM issue WHERE id = #{item} AND is_deleted = false))
        </foreach>
    </select>

</mapper>
