<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.presents.issuetracker.issue.mapper.IssueMapper">
    <select id="getIssueList" resultType="org.presents.issuetracker.issue.dto.IssueDto">
        SELECT
        issue_id, author_id, title, contents, created_at, status
        FROM
        issuetracker.issue
    </select>

    <resultMap id="issueDetailResultMap" type="IssueDetailVo">
        <id property="issueId" column="issue_id"/>
        <result property="title" column="title"/>
        <result property="contents" column="contents"/>
        <result property="createdAt" column="created_at"/>
        <result property="status" column="status"/>

        <association property="author" javaType="User">
            <id property="userId" column="author_id"/>
            <result property="loginId" column="login_id"/>
            <result property="image" column="author_image"/>
        </association>

        <association property="milestone" javaType="Milestone">
            <id property="milestoneId" column="milestone_id"/>
            <result property="name" column="milestone_name"/>
            <result property="progress" column="progress"/>
        </association>

        <collection property="assignees" ofType="User">
            <id property="userId" column="assignee_id"/>
            <result property="loginId" column="assignee_login_id"/>
            <result property="image" column="assigneeImage"/>
        </collection>

        <collection property="labels" ofType="Label">
            <id property="labelId" column="label_id"/>
            <result property="name" column="label_name"/>
            <result property="textColor" column="text_color"/>
            <result property="backgroundColor" column="background_color"/>
        </collection>

        <collection property="comments" ofType="Comment">
            <id property="commentId" column="comment_id"/>
            <result property="contents" column="comment_contents"/>
            <result property="created_at" column="comment_created_at"/>
            <association property="author" javaType="User">
                <id property="userId" column="comment_author_id"/>
                <result property="loginId" column="comment_login_id"/>
                <result property="image" column="comment_author_image"/>
            </association>
        </collection>
    </resultMap>

    <select id="getIssueDetail" parameterType="Long" resultMap="issueDetailResultMap">
        SELECT i.issue_id, i.title, i.contents, i.created_at, i.status
        , i.author_id, u.login_id, u.image AS author_image
        , mis.milestone_id, mis.name AS milestone_name
        , (SELECT FLOOR(COUNT(CASE WHEN status = 'close' THEN 1 END) / COUNT(*) * 100)
        FROM issue
        WHERE milestone_id = i.milestone_id AND status IN ('open', 'close')) progress
        , u2.user_id AS assignee_id, u2.login_id AS assignee_login_id, u2.image AS assignee_image
        , l.label_id, l.name AS label_name, l.text_color, l.background_color
        , c.comment_id, c.contents AS comment_contents, c.created_at AS comment_created_at
        , c.author_id AS comment_author_id, u3.login_id AS comment_login_id, u3.image AS comment_author_image
        FROM issue i
        JOIN user u ON i.author_id = u.user_id
        LEFT JOIN milestone mis ON i.milestone_id = mis.milestone_id
        LEFT JOIN assignee a ON i.issue_id = a.issue_id
        LEFT JOIN user u2 ON a.user_id = u2.user_id
        LEFT JOIN issue_label il ON i.issue_id = il.issue_id
        LEFT JOIN label l ON il.label_id = l.label_id AND l.is_deleted = false
        LEFT JOIN comment c ON i.issue_id = c.issue_id AND c.is_deleted = false
        LEFT JOIN user u3 ON c.author_id = u3.user_id
        WHERE i.issue_id = 1
    </select>
</mapper>
