<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.presents.issuetracker.issue.mapper.IssueMapper">
    <select id="getIssueList" resultType="org.presents.issuetracker.issue.entity.Issue">
        SELECT issue_id,
               author_id,
               milestone_id,
               title,
               contents,
               created_at,
               status
        FROM issuetracker.issue
        WHERE NOT status IN ('deleted')
    </select>

    <!--    TODO: issue에 해당되는 user, labels, milestone 가져오기-->
    <!--    키워드-->
    <!--    spring boot mybatis-->
    <!--    mybatis mapper-->
    <!--    mybatis collection-->
</mapper>
